*{
   margin: 0;
   padding: 0;
 
}

body {
    background: #fff;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: scroll;
    margin: 0;
    padding: 0;
}


header{
    padding: 1em 1em;
    position: fixed;
    width: 100%;

}
.logo-nav-registro{
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap ;
}
.Logo img {
    width: 150px;
    padding: left 0;
    margin: 0em;
    display: inline-block;
   }
.menu-icon{
    display: none;
}

.Navegation ul {
    margin: 0em;
   padding: 0em;
    margin-top: 0em;
    margin-right: auto;
    list-style: none;

 }
 .Navegation ul li{
    display: inline-block;
    
 }
.Navegation ul li a{
     display: block;
     padding: 0.3rem 0.5rem;
     transition: all 0.3s linear; 
     border-radius: 5px;

}
.Navegation ul li a:hover {
    background:#Fff;
    color:#fa0050;
    font-weight: 800;
}

 .Registro {
    color: #ffffff;
    font-family: Texta alt,'Muli', sans-serif;
    font-weight: 800;
    font-size: 2em;
    text-decoration: none;
    background-color: #fa0050;
    margin-right: 30px;

 }
  .vos{
    font-family: Texta alt,'Muli', sans-serif;
    font-weight: 800;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    list-style: none;
    margin: 0em;
    padding: 0em;
  }






.header2 {
    background-color:#fa0050;
    height: fit-content;
    padding: 0px 16px;
    vertical-align: center;
}

.header2 .Navegation .Registro{
    color: #fa0050;
    background-color: white;

}



.Banner{
    margin: 0em;
    height: auto;
    width: 100%;
    background-color: #00d9fc;
}
.Banner img{
     width: 100%;
     height: auto;
     margin: 0em;
     padding: 0em;
   }


.Informacion H1{
    font-family: Texta alt,'Muli',lato, sans-serif;
    color: white;
    font-weight: 800;
    margin:0;
    background-color: #fa0050;
    max-width:100%;
    height: auto;
    text-align: center;
    font-size: 50px;
    padding: 30px;
    
}
.Ripper img{
    width: 100%;

}




figure{
     height:auto;
     margin: auto;

}
.Icons{
    margin: auto;
    width: 90%;
    display: flex;
    
     
}


.Tarjetas img{
    width: 200px;
    height: 200px;
    margin-top: 40px;
    margin-left: auto;
    margin-bottom: 25px;
    margin-right: auto;
    vertical-align: bottom;
    display: block;
}
.Tarjetas{
    width: 33%;
}
.Texto{
    width: 100%;
    overflow: hidden;
    background:#fff;
    cursor: default;
    transition: all 400ms ease;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.Texto a{
    text-decoration: none;
}

.Texto h3{
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    font-family: Texta alt,muli,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    font-size: 25px;
    background-color: #fa0050;
    border-radius: 5px;
    max-width: max-content;
    padding: 5px 20px;
    color: #ffffff;
    
}
.Texto h3:hover {
    background-color: #fff;
    color: #fa0050;
    border-color: #fa0050;
    border-style: solid;
    transition-duration: 0.5s;
}


.Texto p{
    font-size: 16px;
    font-family: Lato,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    color: #100423;
    padding: 15px 50px;
}


.Separador{
    height: fit-content;
    width: 100%;
    background-color: #00d9fc;
}
.convertite{
    font-family:Texta alt,muli,LATO,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
    font-weight: 800;
    color: #100423;
    font-style: italic;

    margin-top: 0px;
}



.Acaboton{
    margin-top: 20px;
    padding-bottom: 20px;
}

.Acaboton a{
    text-decoration: none;
}
.Acaboton a h1{
    font-family:texta alt,muli,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:30px;
    text-align: center;
    font-weight: 800;
    background-color:#f8ea46;
    color: #100423;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 15px;
    border-radius: 50px;
    cursor: pointer;
    
    
}
.Acaboton a h1:hover{
    color: #fff;
    background-color: #fa0050;
    transition-duration: 0.5s;
}






.Cont-beneficios{
    height: fit-content;
    width: 100%;
    background-image: url("IMG/ripped-banner.png");
    background-size: cover;
    background-repeat: round;
    margin: 20px 0px;
    
}
.Beneficios{
    font-family:texta alt,LATO,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 20px  0px;
    font-weight: 800;
    color: #fa0050;
    margin-top: 0px;
    
}





.Contnovedades{
    display: flex;
    padding: 0 20%;
    background-color: #CD0C47;
}
.Carrusel img{
    width: 650px;
    height: auto;
    border-radius: 40px;
    padding: 20px;
}
 .Text{
     padding: 30px;
}
.Text h1{
    font-family: texta alt,muli,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    color: #fff;
    font-weight: 800;
}
.Text p{
    font-family: lato, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    padding-top: 20px;
}

.Conocemas{
    margin-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    color: #fff;
}
.Conocemas a{
    text-decoration: none;
    color: #fff;
}
.Conocemas p{
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    font-family:Texta alt, muli,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    font-size: 25px;
    background-color: #fa0050;
    border-radius: 5px;
    max-width: max-content;
    padding: 5px 20px;
    color: #fff;
    
}
.Conocemas p:hover{
   
    border-color: #fa0050;
    border-style: solid;
    transition-duration: 0.5s;
}

  


    




/*----------------Foot----------------*/



.Footer{
    background: #fa0050;
    text-align: center;
    padding: 30px 0;
    margin-top: 20px;
    font-family:MULI, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    color: #ffffff;
    height:fit-content;
    
}


.Footer .container-fot{
    display: block;
    
}





.Footer .container-fot .logo-fot{
    display: flex;
    padding: 20px 55px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap ;
}

.Footer .container-fot .Social-media{

   padding: 0px 60px;
   line-height: 30px;
   
}

.Footer .container-fot .Social-media a{ 
    display: ;
    text-decoration: none;
    color: #fff;
    padding: 10px;
}
.Social-media a img{
    width: 50px;
}
.Footer .container-fot .legal{
    display: block;
    text-align: center;
    padding: 20px;
    font-family: muli,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 200;
}







@media only screen and (max-width:800px ) {
    header{
        padding:0px;
    }
    .menu-icon{
        margin-right: 6px;
        display: block;
        font-family: 'Muli', sans-serif;
        color: #ffffff;
        font-weight: bold;
        font-size: 12px;
        cursor: pointer;
        background-color: #fa0050;
        padding: 0.3em;
        border-radius: 5px;
    }    
    
    .Navegation{
        width: 100%;
    }
     .Navegation ul{
         display: none;
     }
     .Navegation ul.Show{
         display: block;
         float: right;
     }
     .Navegation ul li{
        display: block;
        
     }
    .Navegation ul li a{
         display: block;
         padding: 3px 6px;
         transition: all 0.3s linear; 
         border-radius: 5px;
    
    }
    .Navegation ul li a:hover {
        background:#Fff;
        transition-duration: 0.5s;
    }
    .header2{
        padding:0px;
    }
    .header2 .Navegation .Registro{
        color: #fff;
        background-color: #fa0050;

    }
    
    .Registro {
        color: #ffffff;
        font-family: 'Muli', sans-serif;
        font-weight: 800;
        font-size: 14px;
        text-decoration: none;
        width: 7em;
        margin-right: 0px;
     }
      .vos{
        font-family: 'Muli', sans-serif;
        font-weight: 800;
        font-size: 0.8em;
        color: rgb(255, 255, 255);
        text-decoration: none;
        list-style: none;
        margin: 0em;
        padding: 0em;
      }




      .logo-nav-registro{
        padding: 7px 8px;

      }
        
     .Logo img {
      width: 70px;
     padding: left 0;
     margin: 0em;
     display: inline-block;
     }
  
   .Informacion p{

    color: white;
    font-weight: 800;
    margin:0;
    background-color: #fa0050;
    max-width:100%;
    height: auto;
    text-align: center;
    font-size: 25px;
    padding: 10px;
    }

    .Icons{
        width: 100%;
        display: block;
    }

    .Tarjetas{
     width:100%;
     display: block;
    }
    .Tarjetas img{
        width: 84px;
        height: 80px;
        margin-top: 20px;
        margin-left: auto;
        margin-bottom: 10px;
        margin-right: auto;
        vertical-align: bottom;
    }
    .Texto{
        width: 100%;
        overflow: hidden;
        background:#fff;
        cursor: default;
        transition: all 400ms ease;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        }
    
    .Texto h3{
        margin-left: auto;
        margin-right: auto;
        font-family: muli,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 800;
        font-size: 20px;
        background-color: #fa0050;
        border-radius: 5px;
        max-width: max-content;
        padding: 4px 10px;
        color: #ffffff;
    
    }
    
    .Texto p{
        font-size: 12px;
        font-family: Lato,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: normal;
        padding: 15px 50px;
    }
    figure{
        height: fit-content;
        margin: auto;
        width: fit-content;
        display: flex;
   }

   .convertite{
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
    font-weight: 800;


    }
   .Acaboton a h1{
    font-size:18px;
   }


    .Contnovedades{
      display: block;
      padding: 0 0%;
   }
  .Carrusel img{
    width: 100%;
    height: auto;
    padding: 0px;
  }



   .Beneficios{
       font-size: 15px;
   }
   

   .Footer{
       padding:7px 0px;
   }
   .logo-fot{
       padding: 10px 54px;
   }
   .Footer .container-fot .Social-media{
       padding:0px 0px;
       margin-left: auto;
       margin-right: auto;
   }
   .Footer .container-fot .Social-media a {
      font-size: 16px;
      font-weight: 700;
   }
    .Social-media a img{
    width: 20px;
   }

   .logo-fot-Peya{
       margin: auto;
       width: 100px;
       padding-bottom: 15px;
   }
   





}
