*{
   margin: 0;
   padding: 0;
 
}

body {
    background: white;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: scroll;
    margin: 0;
    padding: 0;
    color: #100423;
}
/*--------------------HEADER------------------------*/
header{
    display: flex;
    padding: 1em 1em;
    width: auto;
    background-color: #fa0050;
    color: #ffffff;
    height: fit-content;

}
.Logo{
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 50px;

}
.Logo img{
    width: 150px;
    height: auto;
    
    
}


header h1{
    
    width: 100%;
    font-weight: 800;
    font-family: texta alt, muli,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 60px;
}
/*--------------------CONTENIDO------------------------*/



.grand-contenido .contenido{
    margin-top: 40px;
    text-align: center;
    display: flex;
}
.gif img{
    width: 600px;

}
.contenido-texto{
    padding: 30px 10%; 
}
.contenido-texto h1{
    font-size: 40px;
    line-height: 70px;
    font-family: texta alt, muli,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    color: #fa0050;
}
.contenido-texto p{
    font-family: lato,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}



.piramide{
    background-color:#fa0050;
    text-align: center;
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
    
}
.calendario{
    padding-bottom: 20px;
    padding-top: 20px;
    color: #fff;

}
.calendario h1{
    font-weight: 800;
    font-family: texta alt, muli,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
}

.calendario p{
    font-family: lato,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}








.piramide img{
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
    width: 38%;

    
}


.Cont-importante{
    width: 100%;
    background-color: #00d9fc;
    margin: 20px 0px;
    
}
.Cont-importante .Importante{
    font-family:texta alt, muli,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    padding: 50px  0px;
    font-weight: 800;
    color: #ffffff;
    margin-top: 40px; 
}
.importante-parrafo p{
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    font-family: lato,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px 17%;
}
/*------------COMO MEJORAR EN EL RANKING-----------------*/

.cont-mejorar{
    text-align: center;
    padding: 30px 50px;

}
.mejorar-texto h1{
    font-size: 40px;
    line-height: 70px;
    font-family: texta alt, muli,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    color: #fa0050;
}

.mejorar-texto p{
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    font-family: lato,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px 17%;
}

/*------------TARJETAS-----------------*/


.main-tarjetas{
    background-color:#fa0050;
    border-radius: 20px;
    margin: 20px 15%;
}

.tarjeta{
    display: flex;
    margin: 5px 60px;
    justify-content: space-between;
    padding: 25px 0px;
    
}
.icono img{
    width: 200px;
}
.titulo{
    width: 60%;

}
.titulo h1{
    font-size: 40px;
    line-height: 60px;
    font-family: texta alt, lato,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    color: #fff;

}
.titulo p{
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    font-family: lato,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px 0px;
    color: #fff;

}

  





    

    




/*--------------------FOOTER------------------------*/




.Footer{
    background: #fa0050;
    text-align: center;
    padding: 30px 0;
    margin-top: 0px;
    font-family:texta alt, muli, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    color: #ffffff;
    height:fit-content;
    
}


.Footer .container-fot{
    display: block;
    
}





.Footer .container-fot .logo-fot{
    display: flex;
    padding: 20px 55px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap ;
}

.Footer .container-fot .Social-media{

   padding: 0px 60px;
   line-height: 30px;
   
}

.Footer .container-fot .Social-media a{ 
    display: ;
    text-decoration: none;
    color: #fff;
    padding: 10px;
}
.Social-media a img{
    width: 50px;
}
.Footer .container-fot .legal{
    display: block;
    text-align: center;
    padding: 20px;
    font-family: texta alt, muli,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 200;
}




/*--------------------MEDIAS------------------------*/

@media only screen and (max-width:800px ) {
    
  
    header{
        display: flex;
        padding: 1em 1em;
        width: auto;
        background-color: #fa0050;
        color: #ffffff;
        height: fit-content;
    
    }
    .Logo{
        margin-top: auto;
        margin-bottom: auto;
        padding-left: 0px;

    }
    .Logo img{
        width: 100px;
        height: auto;
    }
    body{
        width: fit-content;
    }
    .contenido-texto{
        padding: 15px;
    }

    .piramide{
        display: block;
    }
    .piramide img{
        padding: 20px 20px;
        width: 85%;
    }
    .calendario h1{
        font-size: 32px;
    }
    .calendario p{
        width: 90%;
    }




    .contenido-texto h1 {
        font-size: 32px;
        line-height: 40px;
    }
    .contenido-texto p{
        padding: 10px 0px;
        font-size: 16px;
    }
    .Cont-importante .Importante{
        padding: 27px 0px;
        font-weight: 900;
        color: #ffffff;
        margin-top: 0px;

    }
    .importante-parrafo p{
        padding: 10px 20px;
    }

    .mejorar-texto h1 {
        font-size: 32px;
        line-height: 40px;
        padding: 10px 15px;
    }
    .mejorar-texto p{
        font-size: 16px;
        padding: 10px 15px;
    }
    .cont-mejorar {
        text-align: center;
        padding: 0px 0px;
    }  
    .titulo h1 {
        font-size: 26px;
        line-height: 30px;
        text-align: center;
        padding-top: 20px;


    }
       



    .grand-contenido .contenido{
        display: block;
        text-align: left;
    }

    .tarjeta {
        display: flex;
        margin: 55px 60px;
        justify-content: space-between;
        padding: 27px 0px;
    }

    .icono img {
        width: 150px;
    }













    .Footer{
        padding:7px 0px;
    }
    .logo-fot{
        padding: 10px 54px;
    }
    .Footer .container-fot .Social-media{
        padding:0px 0px;
        margin-left: auto;
        margin-right: auto;
    }
    .Footer .container-fot .Social-media a {
       font-size: 16px;
       font-weight: 700;
    }
     .Social-media a img{
     width: 20px;
    }
 
    .logo-fot-Peya{
        margin: auto;
        width: 100px;
        padding-bottom: 15px;
    }
    
    
}

@media only screen and (max-width:600px ) {

    .tarjeta{
        width:fit-content;
        display: block;
        margin: 20px 40px;
    }
    .gif img{
        width: 90%;

    }
    .icono{
        text-align: center;
    }
    .icono img{
        width: 60%;
    
    }
    .Importante h1{
        font-size: 40px;
        font-weight: 800;
    }
    .main-tarjetas{
        margin: 20px 3%;
    }
    .titulo h1 {
        font-size: 22px;
        line-height: 28px;
    }
    .titulo p { 
        font-size: 14px;
        line-height: 20px;
    }
    .titulo{
        width: 100%;
    }
    header h1 {
        font-size: 24px;
    }






}
